* {
    margin: 10px;
    padding: 10px;
}
body {
    background-image: url(gifs/sparklecloud.gif);
}
h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 150px;
    color:rgb(129, 89, 129);
}
nav {
    font-size: 60px;
    display: block;
    justify-content: center;  
    list-style-type: none;
    padding: 20px;
}
a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: rgb(70, 52, 70);
    
}
a:hover {
    color: thistle;
    background-color: rgb(109, 69, 109);
    border-radius: 25px;
    padding: 10px; 
}
.flowerbar {
    margin-left: 275px;
    width: 700px;
}

