* {
    margin: 10px;
    padding: 10px;
}
body {
    background-color: rgb(138, 101, 138);
}
h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 150px;
    color:thistle;
}
nav {
    font-size: 60px;
    display: block;
    justify-content: center;  
    list-style-type: none;
    padding: 20px;
}
a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: rgb(70, 52, 70);
    
}
a:hover {
    color: thistle;
    background-color: rgb(109, 69, 109);
    border-radius: 25px;
    padding: 10px; 
}